* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-image: url(./img/fondoDepantalla.png) ;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
min-height: 100%;
}

